-- extensões- copia
_*.*
*.emt
*.out
*.hrb
*.map
*.md5
*.xtag
*.log
*.ppo
*.cfv
*.cmd
*.emg
*.rpo
*.res
*.obj
dev/sistema/source/lib/output/*.*
dev/sistema/source/lib/prpsislib/output/*.*
dev/sistema/source/output/*.*
dev/sistema/source/output_dbg/*.*
dev/sistema/source/pontorpo/output/*.*
dev/sistema/source/propontorpo/output/*.*
dev/sistema/source/parse/*.*
dev/sistema/source/emottarpo/output/*.*
dev/bin_rpo/*.*
dev/sistema/rpo/*.*
release/*.*
dev/sistema/log/*.*
Documentacao/*.*
Emotta_Dev/*.*
FWH/*.*
hb30/*.*
Util/*.*
xharbour/*.*
dbg_pontorpo.exe
dbg_pontorpo.exe.xbp
emottarpo.exe
pontorpo.exe
propontorpo.exe
emtgerponto.exe
trep.exe

-- arquivos
dev/sistema/bin/fivedbu.ini
dev/sistema/bin/libera.exe
dev/sistema/bin/long_qry.dbf
dev/sistema/bin/long_qry.dbt
dev/sistema/bin/propontopvs.exe
dev/sistema/bin/taplica.ini
dev/sistema/parse/parse.bat
dev/sistema/source/dbg_pontopro_open_xbb.bat
dev/sistema/source/dbg_sislib.lib.xbp
dev/sistema/source/lib/dbg_sislib.lib
dev/sistema/source/lib/prpsislib/prpsislib.lib
dev/sistema/source/lib/prpsislib/xbuild.windows.ini
dev/sistema/source/lib/sislib.lib
dev/sistema/source/libera/lib2010.exe
dev/sistema/source/libera/libera.exe
dev/sistema/source/parse.bat
dev/sistema/source/pic/repon/tret.txt
dev/sistema/source/ponto/gerenciamento/xbuild.windows.ini
dev/sistema/source/projetos/hrbs_emotta/banr003.ch
dev/sistema/source/propontorpo/xbuild.windows.ini
emtcomp/emtgerarpo.c
emtcomp/output/emtgerarpo.c
emtcomp/output/rpo.c
emtcomp/rpo.c
vscomp/output/vscomp.c
